#dest_copy {
    background: rgb(245, 245, 245);
    /* border: purple 5px solid; */
}
/* #deletionMenu {
    padding: 0;
    background-color: rgb(183, 186, 190);
    border: 1px;
} */
.context-menu {
    /* display: none; */
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid rgb(204, 204, 204);
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}
.context-menu li{
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
    user-select: none;
}
.context-menu li:hover{
    background-color: #def;
}
button {
    margin: 2px;
}
#tableItemsBody tr{
    height: 5px;
    
}
