<h2 style="margin: 1em; text-align:center">Design elegant floorplans for any event!</h2>

<div>
<div style="display:flex; justify-content: space-around; margin-bottom:1em">
    <div style="margin-top: auto; margin-bottom: auto;">
        <ul style="list-style-type: none; padding: 0">
            <li><h4>Stay on track with our dynamic timeline.</h4></li>
            <li><h4>Preview your plan in three dimensions.</h4></li>
            <li><h4>Ensure smooth progress via staff management.</h4></li>
            <li><h4>Share your ideas with collaborators.</h4></li>
            <li><h4>Integrate with all other EVENTS 360 applications.</h4></li>
        </ul>

        
        <% if !Rails.env.production?%>
            <%= link_to "Get Started", plans_path, class:"btn btn-primary", name: "Get Started", style:"background-color: #478ac9;"%>
        <% else %>
            <%= button_to '/auth/events360', method: :post, data: { turbo: "false" }, class:"btn btn-primary" do %>
                <span>Continue with Events360</span>
            <% end %>
        <% end %>
    </div>
    <div>
        <%= image_tag "home-preview.png", width: "350" %>
    </div>
</div>

<style>

li {
    margin: 1em 0em;
}

</style>