.draggable {
  width: 70px;
  height: 70px;
  margin: 5px;
  padding: 10px;
  border: 1px solid #aaa;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.draggable-chair {
  width: 100%;
  height: 100%;
  background-image: image-url("thumbnails/furnitures/chair.jpg");
  background-size: cover;
  background-position: center;
}

.draggable-chair-red {
  width: 100%;
  height: 100%;
  background-image: image-url("thumbnails/furnitures/chair_red.png");
  background-size: cover;
  background-position: center;
}

.draggable-chair-blue {
  width: 100%;
  height: 100%;
  background-image: image-url("thumbnails/furnitures/chair_blue.png");
  background-size: cover;
  background-position: center;
}

.draggable-camera {
  width: 100%;
  height: 100%;
  background-image: image-url("thumbnails/electric/camera.jpg");
  background-size: contain;
  background-repeat: no-repeat; 
  background-position: center;
}

.draggable-man {
  width: 100%;
  height: 100%;
  background-image: image-url("thumbnails/staff/man.jpg");
  background-size: contain;
  background-repeat: no-repeat; 
  background-position: center;
}

.draggable-woman {
  width: 100%;
  height: 100%;
  background-image: image-url("thumbnails/staff/woman.jpg");
  background-size: contain;
  background-repeat: no-repeat; 
  background-position: center;
}
