<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DrawPanel</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="font-awesome.css">
    <link rel="stylesheet" href="./notify.min.css" />
    <meta name="generator" content="Nicepage 4.9.1, nicepage.com">
    <script src="./notify.min.js"></script>

</head>

<body >

        <!-- canvas and picker -->
        <div class="row border-bottom white-bg dashboard-header">
            <div id="panel" class="row">
            
            <div id="source" class="col-lg-2"
                    style="width: 23%; max-height: 400px; max-width: 600px; overflow: scroll;">
                    <div class="ibox float-e-margins" id="top_layer_items">
                        <div class="ibox-title border-bottom">
                            <h5>Top Layer</h5>
                        </div>
                        <div class="ibox-content icons-box">
                            <div class="infont col-md-4">
                                <div class="sourceItems top" draggable="true" id="rect_room"
                                    ondragstart="dragstart_handler(event);" ondragend="dragend_handler(event);"
                                    style="height: 30px; vertical-align: middle; display: table-cell;">
                                    <img src="pic/rectangular room.png" alt="rectangular room"
                                        style="max-width: 100%; max-height: 100%;">
                                </div>
                                <div style="text-align: left;">rect room</div>
                            </div>
                            <div class="infont col-md-4">
                                <div div class="sourceItems top" draggable="true" id="round_room"
                                    ondragstart="dragstart_handler(event);" ondragend="dragend_handler(event);"
                                    style="height: 30px; vertical-align: middle; display: table-cell;">
                                    <img src="pic/round room.png" alt="round room"
                                        style="max-width: 100%; max-height: 100%;">
                                </div>
                                <div style="text-align: left;">round room</div>
                            </div>
                            <div class="infont col-md-4">
                                <div div class="sourceItems top" draggable="true" id="triangle_room"
                                    ondragstart="dragstart_handler(event);" ondragend="dragend_handler(event);"
                                    style="height: 30px; vertical-align: middle; display: table-cell;">
                                    <img src="pic/triangle room.png" alt="traingle room"
                                        style="max-width: 100%; max-height: 100%;">
                                </div>
                                <div style="text-align: left;">triangle room</div>
                            </div>
                        </div>
                    </div>
                    <div class="ibox float-e-margins" id="furniture_layer_items">
                        <div class="ibox-title border-bottom">
                            <h5>Furniture Layer</h5>
                        </div>
                        <div class="ibox-content icons-box">
                            <div class="infont col-md-4">
                                <div class="sourceItems furniture" draggable="true" id="couch"
                                    ondragstart="dragstart_handler(event);" ondragend="dragend_handler(event);"
                                    style="height: 30px; vertical-align: middle; display: table-cell;">
                                    <img src="pic/couch.png" alt="couch" style="max-width: 100%; max-height: 100%;">
                                </div>
                                <div style="text-align: left;">couch</div>

                            </div>
                            <%# <div class="clearfix"></div> %>
                        </div>
                    </div>
                    <div class="ibox float-e-margins" id="electrical_layer_items">
                        <div class="ibox-title border-bottom">
                            <h5>Electrical Layer</h5>
                        </div>
                        <div class="ibox-content icons-box">
                            <div class="infont col-md-4">
                                <div class="sourceItems electrical" draggable="true" id="camera"
                                    ondragstart="dragstart_handler(event);" ondragend="dragend_handler(event);"
                                    style="height: 30px; vertical-align: middle; display: table-cell;">
                                    <img src="pic/camera.png" alt="camera"
                                        style="max-width: 100%; max-height: 100%;">
                                </div>
                                <div style="text-align: left;">camera</div>
                            </div>
                            <%# <div class="clearfix"></div> %>
                        </div>
                    </div>
                    <div class="ibox float-e-margins" id="staff_layer_items">
                        <div class="ibox-title border-bottom">
                            <h5>Staff Layer</h5>
                        </div>
                        <div class="ibox-content icons-box">
                            <div class="infont col-md-4">
                                <div class="sourceItems staff" draggable="true" id="speaker"
                                    ondragstart="dragstart_handler(event);" ondragend="dragend_handler(event);"
                                    style="height: 30px; vertical-align: middle; display: table-cell;">
                                    <img src="pic/speaker.png" alt="speaker"
                                        style="max-width: 100%; max-height: 100%;">
                                </div>
                                <div style="text-align: left;">speaker</div>
                            </div>
                            <%# <div class="clearfix"></div> %>
                        </div>                        
                        
                    </div>
                </div>


                <div id="canvas_div" class="canvas col-lg-6"
                    style="max-height: 400px; width: 1100px; overflow: scroll;" ondrop="drop_handler(event);" ,
                    ondragover="dragover_handler(event);">
                    <canvas id="dest_copy" height="1100px" width="1100px"></canvas>
                </div>
            </div>
        </div>
        
        <div class="row border-bottom white-bg dashboard-header">
            <div id="panel" class="row">
        
                <!-- table -->
                <div id="table" class="col-lg-4" style="max-height: 350px; width: 1100px; overflow-x: auto; overflow-y: scroll;">
                    <table id="tableItems" border="1" cellspacing="0" class="table table-hover no-margins">
                        <thead>
                            <tr>
                                <th>Mark</th>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Group</th>
                                <th>Depend Group</th>
                                <th>Setup Start</th>
                                <th>Setup End</th>
                                <th>Finished</th>
                                <th>Breakdown Start</th>
                                <th>Breakdown End</th>
                                <th>Finished</th>
                                <th>Owner</th>
                                
                            </tr>
                        </thead>
                        <tbody id="tableItemsBody">

                        </tbody>
                    </table>
                </div>

                <div id="buttons" class="navbar-header col-md-3 dashboard-header">
                    <%# route to the dependency page under current plan %>
                    <%# <%= link_to "Set Dependency", "/dependency" %>  
                    <button id='notifyBtn' onclick="clickToCheckDependency(event);">Check Dependency</button>
                    <div id="notification"></div>
                </div>

            </div>
        </div>        
    </div>
    <%=javascript_include_tag "drawPanel"%>
    <script src="jquery-3.6.0.min.js"></script>
    <!-- <script src="inspinia.js"></script> -->
    <script src="bootstrap.min.js"></script>
    <!-- </div> -->
</body>

</html>