<!DOCTYPE html>
<html>
  <head>
    <title>PlanNXT | 3D Room</title>
    <base href="/blueprints/preview/docs/" />

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/example.css" rel="stylesheet">

    <!-- Make sure you've built print3d.js -->
    <!-- See README.md for details -->
    <script src="js/print3d.js"></script>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    
    <script src="js/items.js"></script>
    <script src="js/example.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>